<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" , href="/css/loginStyle.css" />
    <title>로그인 페이지</title>
  </head>
  <body>
    <% if (message) { %>
    <script>
      // 사용자에게 메시지를 알리는 JavaScript 코드
      alert("<%= message %>");
    </script>
    <% } %>
    <header></header>
    <main>
      <form id="loginForm" method="POST" action="/">
        <h3>Login Here</h3>
        <input type="text" id="user_id" placeholder="ID" name="user_id" /><br />
        <input
          type="password"
          id="user_pw"
          placeholder="Password"
          name="user_pw"
        /><br />
        <button type="submit">Login</button>
        계정이 없으신가요? &nbsp; <a href="/register">가입하기</a>
      </form>
    </main>
  </body>
</html>
